# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Know the tools used in data science
- Know what the languages used in data science
- Know what the jobs of data scientist are

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. pandas
3. sci-kit learn


|Data Science Tools|
|-----|
|SQL|
|Git|
|Apache TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.
1. 1+1 - addition
2. 2-2 - subtraction
3. 3*3 - multiplication
4. 4/4 - division

In [4]:
# his a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

# Author
Lakshmi Holla

Niveditha Pandith